---
import ColiDesktop from '../components/ColiDesktop.astro';
import ColiMobile from '../components/ColiMobile.astro';
---

<main>
    <ColiDesktop />
     <h1>colidevs.</h1>
     <h3>⚡ rápida atención</h3>
     <div class="contentSlogan">
         <p class="slogan">Digitalizá y automatizá </p>
         <p class="slogan">en tu negocio.</p>
     </div>
     <p class="description">
        Sacate las dudas, <b>analizamos</b> tu organización y <b>diseñamos</b> un plan.
      Desde gestión de archivos y facturas hasta chatbots, lo <b>solucionamos</b> para vos.
     </p>
     
         <a href="https://api.whatsapp.com/send?phone=541176436206&text=Hola%20%F0%9F%91%8B%20Estoy%20interesad%40%20en%20tener%20mi%20colistore%20%C2%BFMe%20pod%C3%A9s%20pasar%20m%C3%A1s%20info%3F" 
         target="_blank" rel="noopener noreferrer" class="buttonContactar" >
         Empezá a resolver ⚙️
        </a>
     <section class="preguntas">
    <ul>
      <li>¿Tenés dudas sobre qué herramientas usar para mejorar tus <b>redes sociales</b>?</li>
      <li>¿Querés una cuenta de <b>correo electrónico</b> con el nombre de tu negocio?</li>
      <li>¿Sos una <b>ONG</b> y no sabés si te estás perdiendo de <b>beneficios</b>?</li>
    </ul>
    <p class="cta">
      Consultá por nuestros <b>Servicios TI</b> y empezá a estructurar tu organización.
    </p>
  </section>
    <ColiMobile />
</main>


<style>
    main{
        display: flex;
        flex-direction: column; 
        justify-content: center; 
        align-items: center;
        gap: 1rem; 
        flex: 1;
    }
    
    h1{
        font-size: 3rem;
        font-weight: normal; 
        font-family: 'Poppins', sans-serif;
        color: white;
        margin: 0; 
    }

    h3{
        font-size: .8rem;
        font-weight: 100; 
        font-family: 'Poppins', sans-serif;
        color: white;
        margin: 0; 
        padding: .4rem 1rem;
        background-color: rgb(76, 76, 76);
        border-radius: 20px;
    }

    .contentSlogan{
        display: flex;
        flex-direction: column; 
        align-items: center;
        margin: 0; 
    }

    .slogan{
        font-size: 2rem;
        font-weight: 100; 
        color: white;
        margin: 0;         
    }

    .description{
        font-size: 1rem;
        font-weight: 100; 
        color: white;
        max-width: 380px;
        text-align: left;
    }

    .buttonContactar{
        margin-top: 1rem;
        padding: .8rem 1.5rem;
        background-color: rgb(255, 255, 255);
        color: rgb(0, 0, 0);
        text-decoration: none;
        border-radius: 12px;
        font-weight: 500;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        transition: box-shadow 0.3s,transform 0.5s;
    }

    .buttonContactar:hover{
        box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
        transform: scale(1.1);
    }

    .cta {
    text-align: center;
  }
    
     @media (max-width: 500px) {
        main{
            justify-content: flex-start;
            gap: .5rem;
            top: 5vh;
        }

        .slogan{
            font-size: 1.7rem; 
        }

        h1{
            font-size: 2rem;
        }

         h3{
            font-size: .6rem;
            padding: .1rem 1.5rem;
        }       

        .description{
            font-size: 1rem;
            max-width: 80%;
            /* text-align: ; */
        }

        .buttonContactar{
            font-size: 1rem;
            padding: .4rem 1.5rem;
            margin: 0;
            border-radius: 4px;
        }
    }

       
    

    @media (min-width: 1900px) {
        main{
            gap: 3rem;
        }

        h1{
            font-size: 6rem;
        }

         h3{
            font-size: 1.5rem;
            padding: .8rem 2rem;
        }

        .slogan{
            font-size: 5rem; 
        }

        .description{
            font-size: 1.5rem;
            max-width: 800px;
            margin: 0;
            /* text-align: center; */
        }

        .buttonContactar{
            font-size: 2rem;
            padding: 1rem 2rem;
            margin: 0;
        }
    }

</style>